{% extends 'base.html.twig' %}

{% block title %}Espace Inscription
{% endblock %}

{% block body %}
	<div class="container">
		<h1>Espace inscription</h1>
		<hr>
		{{ form(formRegister) }}
	</div>
{% endblock %}
